* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.step-box {
  background-color: #eeeeee;
  margin-right: 30px;
  width: 300px;
  position: relative;
  padding: 10px;
}

.step-number {
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

.step-image1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step-image2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step-image3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 425px) {
  main {
    display: block;
    width: 100%;
  }

  .step-box {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  header {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
